.project-recent {
  display: flex;
  flex-direction: column;
  color: white;
  margin-top: 5%;
  margin-bottom: 5%;
  justify-content: center;
  align-items: center;
}

.project-recent .section-title {
  width: 70%;
  text-align: center;
}


/* Projects */
.project-recent {
  padding: 40px;
}

.project-recent img {
  height: 100%;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  display: block;
  transition: all 0.2s ease;
}

.project-container {
  padding-top: 60px;
  margin-bottom: 40px;
}

.overlay {
  transition: all 0.2s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay p {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0;
}

.project {
  position: relative;
}


.overlay .icons-container {
  display: flex;

}

.overlay i {
  color: white;
  font-size: 60px;
  margin: 10px;
}



@media (pointer:fine) {

  .project:hover img {
    opacity: 0.2;
  }

  .project:hover .overlay {
    opacity: 1;
  }

  .overlay i:hover {
    animation: spin-color 10s infinite linear;
    background-color: radial-gradient(circle at center, rgba(255, 0, 0, 0.3) 1%, rgba(0, 0, 0, 0) 90%);
    background-size: cover;
  }
}

@media (pointer: coarse) {
  .project img {
    opacity: 0.2;
  }

  .overlay i:hover {
    animation: spin-color 10s infinite linear;
    background-color: radial-gradient(circle at center, rgba(255, 0, 0, 0.3) 1%, rgba(0, 0, 0, 0) 90%);
    background-size: cover;
  }

  .overlay {
    opacity: 1;
  }
}