.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 90vh;
  margin-top: 5%;
}

.hero-info {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 5%;
}

.hero-info h2 {
  border-radius: 5px;
  padding: 5px;
  font-size: x-large;
}

.hero-container h1 {
  margin: 0;
}

.hero-pic {
  display: flex;
  justify-content: center;
  width: 50%;
}

.hero-image-developer {

  width: 50%;
  height: 50%;

}

.hero-social-media {
  margin-top: 10px;
  text-transform: uppercase;
}

.hero-social-media a i {
  margin: 0 10px;
  font-size: 1.5rem;
  color: white;
}

@media screen and (max-width: 767px) {
  .hero-pic {
    display: none;
  }

  .hero-info {
    width: 100%;
  }
}